<style type="text/css">
    li {
        display: inline-block;
        text-align: left;
    }
</style>

<h2>This Id has been already used, Please use another ID Number</h2>

<ul>
    <li><a href="/home">List of Books</a></li>
    <li>|</li>
    <li><a href="/AddNewBook">Add New Book</a></li>
    <li>|</li>
    <li><a href="/DeleteABook">Delete A Book</a></li>
</ul>