<style type="text/css">
    li {
        display: inline-block;
        text-align: left;
    }
</style>

<h2>You have added a book !</h2>

<ul>
    <li><a href="/home">List of Books</a></li>
    <li>|</li>
    <li><a href="/AddNewBook">Add New Book</a></li>
    <li>|</li>
    <li><a href="/DeleteABook">Delete Book</a></li>
</ul>